<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bg-image">
      <div class="col-md-12">
        <div class="card col-md-5">
          <div class="card-header">
            <div class="brand-logo">
              <a href="#"><img src="assets/img/Rush_Final_logo.png" /></a>
            </div>
            <div class="login-header">
              <h3 class="login-title">Login To Admin Portal</h3>
            </div>
          </div>
          <div class="card-body">
            <button
              class="
                btn btn-block btn-primary btn-rounded btn-md
                font-weight-medium
                auth-form-btn"
            >
              <i class="bi bi-box-arrow-in-right" (click)="login()"></i> Login
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-md-7"
        style="
          text-align: center;
          float: right;

          margin-top: 10px;
        "
      >
        <h2>
          Digital Support For Testing Inspection And Certification Of Electrical
          Installation
        </h2>
        <h1 style="font-weight: 600">INTERACTIVE - INTELLIGENT - MODERN</h1>
      </div>
    </div>
  </div>
</div>
