<form [formGroup]="userUpdateForm" >
    <h2>{{name}} - {{companyName}}</h2>

    <div class="row">
        <div class="col-md-5">

        <mat-radio-group aria-label="Select an option" [(ngModel)]="permissionType"   formControlName="permissionType" 
          [ngClass]="{ 'is-invalid': submitted && f.permissionType.errors }">
            <mat-radio-button value="Yes">Approve</mat-radio-button>
            <mat-radio-button value="No">Reject</mat-radio-button>

            <div *ngIf="submitted && f.permission.errors" class="invalid-feedback" >
                <div *ngIf="f.permission?.errors?.required">Select either Approve/Reject</div>
            </div>
        </mat-radio-group> 
        </div>   
        </div>
        <div>
            <mat-selection-list formControlName="permission"  [(ngModel)]="selectedOptions"  (ngModelChange)="onNgModelChange($event)">
                <mat-list-option *ngFor="let applicationApprove of typesOfApplication" [value]="applicationApprove">
                        
                        <div class="flex-wrap"> {{applicationApprove}}</div>
               
                </mat-list-option>
              </mat-selection-list> 
                 
        </div>
     <div>
        <div style="margin-top: 15px;">
            <label>User Type:</label>
            <select formControlName="userType" [(ngModel)]="userValue"  style="width: 156px; margin-left: 8px;" >
                <option value="Inspector" [selected]="f.userType?.value=== userValue">Inspector</option>
                <option value="Viewer" [disabled]="isEnabled">Viewer</option>
            </select>
            <!-- <label>User Type: </label>
            <input type="text" formControlName="userType" style="margin-left: 8px;" readonly value="{{userValue}}" [(ngModel)]="userValue"> -->
        </div>

        <mat-form-field class="client-description">
            <mat-label><h3>Comment (If rejected add comment here)</h3></mat-label>
            <textarea matInput class="client-box-description" formControlName="cmntBox" maxlength="100" placeholder="Ex. Add comment if rejected..." [(ngModel)]="register.comment" [ngClass]="{ 'is-invalid': submitted && f.cmntBox.errors }"></textarea>
            <div *ngIf="submitted && f.cmntBox.errors" class="invalid-feedback">
              <div *ngIf="f.cmntBox?.errors?.required">Comment is required</div>
            </div>
        </mat-form-field>
    </div>




    <button (click)="onSubmit()" class="btn btn-info" style="margin: 0 auto;display: block;;">Submit</button>

</form>